body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 106%;
}
h1{
    font-size: 200%;;
}
.nav{
    font-weight: bold;
    color: crimson;
}
.gray{
    color: gray;
    font-weight: bold;
}
.bold{
    color: black;
    font-weight: bold;
}
img{
    margin-top: 1%;
    width: 100%;
    border-bottom: 3px solid red;
}
p{ 
    text-align: justify;
}
.sub{
    text-decoration: underline red;
    text-decoration-skip-ink:none;
}
.italic{
    color: gray;
    font-style: italic;
}
.boldrd{
    font-weight: bold;
    text-decoration: underline red;
    text-decoration-skip-ink:none;
}